<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facultyfinder">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UniversityList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mark_absentees"
            android:theme="@style/AddFacultyTheme" />
        <activity
            android:name=".Removefaculty_Activity"
            android:theme="@style/AddFacultyTheme" />
        <activity
            android:name=".Faculty_list"
            android:theme="@style/AddFacultyTheme" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AddFacultyTheme" />
        <activity
            android:name=".AddFacultyActivity"
            android:theme="@style/AddFacultyTheme" />
        <activity android:name=".ProfileFormActivity" />
        <activity
            android:name=".Query0Activity"
            android:label="@string/title_activity_query0"
            android:theme="@style/AddFacultyTheme" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AddFacultyTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AddFacultyTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>